@import "@{templateCommon}/basekit-bootstrap.less";

body {
  background-image:image('/images/texture-background.png');
  background-repeat: repeat;
  border: 10px solid black;
  margin: 1em;
}

.bg-overlay {
    background-color: rgba(0,0,0, 1);
    height: 100%;
    width: 100%;
}

.canvas {
    background-repeat: repeat;
    margin: 0 5%;
    padding: 2.5em 2em 0;
    @media only screen and (min-width: 1140px) {
        max-width: 1200px;
        margin: 0 auto;
    }
    @media only screen and (max-width: 960px) {
        width: 100%;
        margin: 0;
    }
    @media @tablet {
        padding: 2.5em 0em 0;
    }
}

.main {
    padding: 1.5em 3.5em 0;
    @media @tablet {
        padding: 0 2.5em;
    }
    @media @mobile {
        padding: 1em 1.5em 0;
    }
}

.wrapper {
    margin: 0 3%;
    @media only screen and (min-width: 1140px) {
        max-width: 1140px;
        margin: 0 auto;
    }
}

.bg-cover {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bk-pt-default .main, .bk-pt-gallery .main  {
    background-color: @color-swatch2;
    .canvas {
        width: 90%;
        margin: 0 5%;
        border-top: 1px solid fade(@color-swatch4,20%);
        padding-top: 2em;
    }
}



/* ===============================
   EXTENDED NAVIGATION
   =============================== */

.widget {
    .extendednavigation {
        background: fade(@color-swatch7, 20%);
        float: none;
        position: relative;
        margin: 2.5em auto 0;
        min-height: 40px;
        li {
            ul {
                display: none !important;
            }
        }
        ul {
            display: table;
            float: none;
            margin: 0 auto;
            padding: 0;
            @media @tablet {
                /* Hidden until nav icon is clicked */
                display: none;
                /* Then these styles are applied */
                width: 100%;
                margin: 0;
                padding: 50px 0 0;
                text-align: center;
            }
            li {
                float: left;
                display: block;
                padding: 15px 0;
                @media @tablet {
                    width: 100%;
                    padding: 1em 0;
                    border-top: 1px dotted @color-swatch5;
                    border-bottom: 0;
                    text-align: center;
                }

                &:hover {
                    ul {
                        display: block !important;
                        position: absolute;
                        background-color: darken(@color-swatch1, 5%);
                        z-index: 500;
                        padding: 0;
                        margin: 15px 0 0 0;
                        li {
                            display: block;
                            width: 100%;
                            .box-sizing {
                                a {
                                    display: block;
                                    padding: 0;
                                }
                            }
                        }
                    }
                }

                a {
                    display: block;
                    padding: 0 15px;
                    font-family: @font-swatch6-font-family;
                    font-size: @font-swatch6-font-size;
                    font-weight: @font-swatch6-font-weight;
                    color: @font-swatch6-color;
                    line-height: @font-swatch6-line-height;
                    letter-spacing: @font-swatch6-letter-spacing;
                    &:hover {
                        color: @font-swatch6-color-hover;
                        text-decoration: none;
                    }
                }

                &.folder {
                    /* Folder dropdown arrow BG style goes Here */  
                    margin-right: 20px;            
                    cursor: pointer;
                    background-image: none;
                    .text {
                        display: block;
                        padding: 0 15px;
                        font-family: @font-swatch6-font-family;
                        font-size: @font-swatch6-font-size;
                        font-weight: @font-swatch6-font-weight;
                        color: @font-swatch6-color;
                        line-height: @font-swatch6-line-height;
                        letter-spacing: @font-swatch6-letter-spacing;
                        position: relative;
                        &:after {
                            content: "\25BC";
                            font-size: 5px;
                            position: absolute;
                            top: 1px;
                            display: block;
                            z-index: 9999999;
                            right: 0;
                            color: fade(@color-swatch6, 80%);
                            @media @tablet {
                                font-size: 8px;
                                padding-right: 10px;
                            }
                        }
                        &:hover {
                            color: @font-swatch6-color-hover;
                        }
                    }
                    ul {
                        padding: 0;
                        @media @tablet {
                            margin-top: 14px;
                        }
                        li {
                            a {
                                .text {
                                    color: @color-swatch5;
                                    padding: 0;
                                    &:hover {
                                        color: fade(@color-swatch5, 75%);
                                    }
                                    &:after {
                                        content: "";
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        a {
           &.pull {
               display: none;
               @media @tablet {
                   display: block;
                   margin: 0;
                   width: 20px;
                   height: 44px;
                   position: absolute;
                   top: -3px;
                   left: 48.5%;
                   &:hover {
                       cursor: pointer;
                   }
                   &:after {
                       content: '';
                       position: absolute;
                       width: 100%;
                       height: 3px;
                       background: @color-swatch6;
                       top: 15px;
                       left: 0;
                       box-shadow: 0 6px 0 @color-swatch6, 0 12px 0 @color-swatch6;
                   }
               }
            }
        }
    }
}

.widget .extendednavigation ul li.folder:after {
    display: none;
}

/* ===============================
   DIVIDER WIDGET
   =============================== */


.widget.line {
    float: left;
    width: 100%;
    height: 1px;
    hr.line {
        background-color: transparent;
        border-top: 1px dotted @color-swatch1;
    }
}

/* ===============================
   HEADER
   =============================== */

.bk-header {
    text-align: center;
    border-bottom: 1px solid fade(@color-swatch5, 25%);
    padding-bottom: 2.5em;
    @media @tablet {
        padding-bottom: 0.5em;
    }
    @media @tablet {
        border-bottom: none;
    }
    .wrapper {
        padding: 4em 3.5em 0;
        @media only screen and (max-width: 960px) {
            padding: 2em 3.5em 0;
        }
        @media @tablet {
            padding: 1.2em 2.5em 0;
        }
        @media @mobile {
            padding: 1em 1.5em 0;
        }
        position: relative;
        .companyheader {
            width: 100%;
            float: left;
            @media only screen and (max-width: 960px) {
                padding: 0;
                width: 100%;
            }
            .logo, .companyname {
                text-align: center;
                float: none;
            }
            
            @media @tablet {
                margin: 30px 0 25px;
            }
            @media @mobile {
                margin: 15px 0;
            }
            .companyname {
                margin: 6px 0;
            }
            .companyname a {
                display: block;
                padding: 0;
                font-family: @font-swatch10-font-family;
                font-weight: @font-swatch10-font-weight;
                color: @font-swatch10-color;
                line-height: @font-swatch10-line-height;
                letter-spacing: @font-swatch10-letter-spacing;
                font-size: @font-swatch10-font-size;
                    &:hover {
                        text-decoration: none;
                    }
                    @media @mobile {
                        font-size: bkscale(@font-swatch10-font-size,0.8);
                        line-height: bkscale(@font-swatch10-line-height,0.8);
                    }
            }
            .widget.bk-content {
                width: 80%;
                margin: 1em auto;
                @media @mobile {
                    width: 100%;
                }
                p {
                    color: @color-swatch5;
                    margin: 1em 0 0.25em;
                }
            }
        } /* end companyheader */

    } /*end wrapper*/

} /*end header*/

/* ===============================
   MENU SECTIONS NAVIGATION
   =============================== */


.widget {
    &.menusections {
        background: darken(@color-swatch5, 5%);
        display: table;
        text-align: center;
        padding: 0;
        position: relative;
        min-height: 30px;
        min-width: 40%;
        width: auto;
        margin: 4em auto 2.5em;
        @media @tablet { background: transparent; }
        &:before {
            content: "";
            display: block;
            position: absolute;
            width: 0; 
            height: 0; 
            border-top: 30px solid transparent;
            border-bottom: 28px solid transparent; 
            border-right: 30px solid darken(@color-swatch5, 5%); 
            left: -30px;
            top: 0;
            @media @tablet { display: none; }
        }
        &:after {
            content: "";
            display: block;
            position: absolute;
            width: 0; 
            height: 0; 
            border-top: 30px solid transparent;
            border-bottom: 28px solid transparent; 
            border-left: 30px solid darken(@color-swatch5, 5%);
            right: -30px;
            top: 0;
            @media @tablet { display: none; }
        }
        @media only screen and (max-width: 960px) {
            margin: 2.5em auto 0.25em;
        }
        @media @tablet {
            margin: 0.5em auto 0.25em;
            width: 100%;
        }
        @media @mobile {
            padding: 1em 0;
        }
        ul {
            list-style: none;
            padding: 14px 0;
            @media @tablet {
                text-align: center;
            }
            &:before, &:after {
                border-radius: 100px;
                background: fade(@color-swatch7, 75%);
                content: "";
                display: block;
                height: 10px;
                width: 10px;
                margin: 0 15px;
                position: absolute;
                font-size: 28px;
                top: 24px;
                @media @tablet { display: none; }
            }
            &:after {
                right: 0;
            }
            /* ALIGN CENTER */
            &.align-center {
                li {
                    text-align: center;
                    &:hover {
                        li {
                            text-align: center;
                        }
                    }
                }
            }
            li {
                display: inline-block;
                padding: 0 25px 0 0;
                margin: 0;
                &:first-child {
                    padding-left: 50px;
                    @media @tablet {
                        border-top: 1px dotted fade(@color-swatch5, 50%);
                        padding-left: 0;
                    }
                }
                &:last-child {
                    padding-right: 50px;
                    @media @tablet {
                        padding-right: 0;
                    }
                }
                @media @tablet {
                    width: 100%;
                    border-bottom: 1px dotted fade(@color-swatch5, 50%);
                    padding: 15px 0;
                }
                a {
                    display: block;
                    font-family:@font-swatch6-font-family;
                    font-size: @font-swatch6-font-size;
                    font-weight: @font-swatch6-font-weight;
                    color: @color-swatch7;
                    line-height:@font-swatch3-line-height;
                    letter-spacing: @font-swatch6-letter-spacing;
                    &:hover {
                        color: darken(@color-swatch7, 10%);
                        text-decoration: none;
                        @media @tablet {
                            color: @color-swatch3;
                        }
                    }
                    @media @tablet {
                        color: @color-swatch5;
                    }
                }
            }
        }
    }
}

/* ===============================
   MENU
   =============================== */

.widget {
    &.menu {
        margin-top: 0.3em;
        float: left;
        width: 100%;
        .main {
            padding: 0;
            border-top: 0;
            display: none;
            &.selected {
                display: block;
                width: 100%;
                margin: 0 auto;
                float: left;
                @media only screen and (max-width: 960px) {
                    width: 100%;
                    margin: 0;
                    padding: 10px 0;
                }
            }

                ol, li { /* removes list-style on sections and items */
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    border: none;
                } 

            /* SECTION AND SUB-SECTION HEADERS */

            .menu-header, .menu-subsection-header {
                margin: 0;
                padding: 1.5em 0;
                @media @tablet {
                    padding: 2em 0 0.5em;
                }
                text-align: center;
                h1 { /* menu-name */
                    padding: 0;
                }
                h2 { /* MENU-SUBSECTION-HEADER */
                    padding: 0;
                    color: @font-swatch2-color;
                }
                p { /* description */
                    padding: 5px 0 0; 
                }
            } /* end MENU-HEADER AND SUB-SECTION HEADER */


            /* ITEMS */

               .menu-items {
                    width: 100%;
                    @media only screen and (max-width: 550px) {
                        -webkit-column-count: 1;
                        -moz-column-count: 1;
                        column-count: 1;
                    }
                    li { /* menu-item */
                        position: relative;
                        display: block;
                        text-align: left;
                        padding: 0 0 1.5em 0;
                        margin-bottom: 0;
                        @media @mobile {
                            border-bottom: 1px dotted fade(@color-swatch6,20%);
                        }
                        &.menu-item-promoted { /* menu-item-promoted */
                            display: block;
                            .inner-item {
                                h3 {
                                    background: fade(@color-swatch3, 10%);
                                    padding: 6px 10px;
                                }
                            }
                                
                        }/* end menu-item-promoted */

                        .inner-item {
                            display: block;
                            width: 100%;
                            padding: 2em 0;
                            text-align: center;
                            h3 { /* menu-item-name */  
                                padding: 0;
                                margin-bottom: 5px;
                            }
                            .menu-item-image-wrap {
                                background-size:cover;
                                background-repeat: no-repeat;
                                height: 200px;
                                background-position: center;
                                -webkit-border-radius: 5px;
                                -moz-border-radius: 5px;
                                border-radius: 5px;
                                img {
                                    display: none;
                                }
                            }
                            li {
                                border-bottom: 0;
                            }
                            ul, ol, li { /* removes list-style */
                                list-style: none;
                                padding: 0;
                                margin: 0;
                            } 
                            .menu-item-price p {
                                font-family:@font-swatch3-font-family;
                                font-size: bkscale(@font-swatch5-font-size, 1.1);
                                font-weight: @font-swatch3-font-weight;
                                line-height:@font-swatch3-line-height;
                                color: @color-swatch3;
                                letter-spacing: @font-swatch3-letter-spacing;
                                padding: 0.5em 0;
                                margin: 0;
                                display: inline-block;
                            }
                            p { /* item-description */
                                font-family:@font-swatch5-font-family;
                                font-size:@font-swatch5-font-size;
                                font-weight: @font-swatch5-font-weight;
                                line-height:@font-swatch5-line-height;
                                color:@font-swatch5-color;
                                letter-spacing: @font-swatch5-letter-spacing;
                                float: left;
                                width: 100%;
                                margin: 0 0 0.5em 0;
                                padding: 0;
                            }

                            h4  { /* nutritional-title */
                                font-family:@font-swatch5-font-family;
                                font-size:@font-swatch5-font-size;
                                font-weight: @font-swatch5-font-weight;
                                line-height:@font-swatch5-line-height;
                                color: @font-swatch5-color;
                                letter-spacing: @font-swatch5-letter-spacing;
                                float: left;
                                width: 100%;
                                margin: 0;
                                padding: 0;
                            }
                            .menu-item-nutritional-prop { 
                                font-size:@font-swatch5-font-size;
                                font-weight: @font-swatch5-font-weight;
                                line-height:@font-swatch5-line-height;
                                color: @font-swatch5-color;
                                float: left;
                                width: 100%;
                                margin: 0;
                                padding: 0;
                            }
                            .menu-section-item-dietary-props {
                                float: left;
                                width: 100%;
                                margin-top: 0px;
                                padding: 0 0 0 1px;
                               .dietary-icon {
                                    background-color: transparent;
                                    border: 1px solid fade(@color-swatch5, 25%);
                                    border-radius: 50px;
                                    -moz-border-radius: 50px;
                                    -webkit-border-radius: 50px;
                                    width: auto;
                                    font-family:@font-swatch5-font-family;
                                    font-size: bkscale(@font-swatch5-font-size, 0.9);
                                    display: inline-block;
                                    color: @color-swatch5;
                                    float: none;
                                    padding: 2px 8px;
                                    margin: 1em 0 5px 8px;
                                    position: relative;
                                }
                                .not-spicy-icon {
                                    display: none;
                                }
                            } /* end menu-section-item-dietary-props */   


                            .menu-item-description, .menu-section-item-description {
                                margin-bottom: 0.5em;
                            }

                        } /* end inner-item */
                        .clearfix;

                    } /* end li menu-item */

                } /* end ol */  

                .menu-subsection .menu-subsection-promoted { /* PROMOTED SUB-SECTION */ 
                    border: 3px solid fade(@color-swatch5, 90%);
                    padding: 0 2em 2em;
                    margin: 2em 0;
                    position: relative;
                    &:before {
                       content: " ";
                       position: absolute;
                       top: 5px;
                       left: 5px;
                       right: 5px;
                       bottom: 5px;
                       border: 2px solid fade(@color-swatch5, 70%);
                   }
                    @media @mobile {
                        padding: 0 2em 0;
                    }
                    .menu-subsection-header {
                        margin: 20px 0;
                        padding: 2em 0 0.2em;
                        @media @mobile {
                            padding: 0;
                        }
                    }
                } /* end PROMOTED SUB-SECTION */

                .menu-info {
                    border: 1px dotted @color-swatch3;
                    display: block;
                    float: left;
                    width: 100%;
                    text-align: center;
                    margin: 1em 0;
                    @media @mobile {
                        margin : 2em 0 1em;
                    }
                    p { /* menu-note */
                      float: left;
                      width: 100%;
                      padding: 1.25em 0;
                      color: @color-swatch3;
                    }
                } /* end menu-info */
        } /* end main */
    } /* end .widget.menu */
} /* end .widget */

/* ===============================
  IMAGE WIDGET
   =============================== */

.widget.image {
    .image-title, .image-description {
        color: @font-swatch5-color;
    }
}

.widget.clicktocall a {
    font-family: @font-swatch5-font-family;
    font-weight: @font-swatch5-font-weight;
}

/* ===============================
   BLOCK QUOTE
  =============================== */

  blockquote {
    background-color: transparent;
    margin: 20px;
    @media @mobile {
        margin: 0 5px;
    }
    &:before {
        color: @color-swatch3;
    }
  }


/* ===============================
  CONTACT FORM
   =============================== */

   .contactform fieldset {
        border: none;
        margin: 0 0 10px;
        padding: 0;
    }

/* ===============================
  SIGN UP FORM & PROFILE FORM
   =============================== */

.widget.profile form fieldset input {
    height: 44px;
    Width: 80%;
}

.widget.signupform fieldset input, .widget.profile form fieldset input {
    border: 1px solid darken(@color-swatch1,10%);
    background-color: #ffffff;
    @media @mobile {
        width: 80%;
    }
}
.signupform fieldset button, .widget.profile form button {
    height: 45px;
    padding: 6px 10px 5px;
}

/* ===============================
  TWITTER
   =============================== */

.twitter-profile-pic {
    float: left;
    margin-right: 10px;
}

/* ===============================
   SLIDESHOW WIDGET
   =============================== */

.widget.responsiveslideshow {
    .slideshow-image-list,
    .slideshow-widget {
        min-height: 450px;
        @media @tablet {
            min-height: 350px;
        }
        @media @mobile {
            min-height: 280px;
            height: 280px;
        }
    }
    .title {
        display: block;
        color: @color-swatch5;
    }
    .description {
        color: @color-swatch5;
    }
    .content-wrapper {
        background: @color-swatch2;
        background-image:image('/images/ricepaper2.png');
        text-align: center;

    }
    .slideshow-widget {
        /* Arrows */
        .btn-prev,
        .btn-next {
            font-size: 0;
            z-index: 11;
            text-indent: -99999px;
            width: 40px;
            height: 40px;
            background: rgba(0,0,0,0.5);
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
        }
        .btn-prev {
            &:after {
                content: "\2190";
                color: #fff;
                top: 7px;
            }
        }
        .btn-next {
            &:after {
                content: "\2192";
                color: #fff;
                top: 7px;
            }
        }
        /* Play Button */
        .btn-play {
            background: rgba(0,0,0,0.5);
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            left: 45%;
            top: 43%;
            &:after {
                color: #fff;
                letter-spacing: -4px;
                top: 2px;
            }
            @media @mobile {
                width: 40px;
                height: 40px;
                &:after {
                    font-size: 15px;
                    line-height: 36px;
                }
            }
        }
    }
    /* Slideshow Controls */
    .slideshow-widget-controls {
        .dot {
            width: 11px;
            height: 11px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            &.selected {
                background-color: @color-swatch3;
            }
        }
    }
}

/* ===============================
  BLOG
   =============================== */

.widget {
    &.bloglistposts {
        .blog-post-item {
            border-bottom: 1px dotted @color-swatch5;
        }
    }
}

.blog-post-item {
    margin: 1.5em 0;
    padding-bottom: 1em;
    h2 {
        a {
            font-family: @font-swatch2-font-family;
            font-size: @font-swatch2-font-size;
            font-weight: @font-swatch2-font-weight;
            line-height: @font-swatch2-line-height;
            color: @font-swatch2-color;
            letter-spacing: @font-swatch2-letter-spacing;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.blog-post-metadata {
    background-color: transparent;
    margin-top: 0;
    text-align: left;
}

.blog-list-footer {
    background-color: transparent;
    text-align: left;
}

.blog-post-more-link {
    float: left;
    width: 100%;
}

/* BLOG SEARCH */
.blogsearch {
    form {
        input {
            border: 1px solid darken(@color-swatch1,10%);
            }

        button {
            padding: 10px;
            font-family: @font-swatch7-font-family;
            color: @font-swatch7-color;
            font-size: @font-swatch7-font-size;
            font-weight: @font-swatch7-font-weight;
            line-height: @font-swatch7-line-height;
            background-color: @font-swatch7-background-color;
            border: none;
        }
    }
}


/* ===============================
  SOCIAL ICONS 
   =============================== */

.bk-footer .widget.socialicons .icons span a, .widget.socialicons span a {
    background-color: @color-swatch3;
    border: none;
        -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    &:hover {
        background-color: darken(@color-swatch3,10%);
    }
}

.bk-footer .widget.socialicons .icons {
    text-align: center;
}

/* ===============================
  DIVIDER WIDGET
   =============================== */

hr {
    &.line {
        background-color: @color-swatch3;
        height: 1px;
    }
}

/* ===============================
  FOOTER 
   =============================== */

.bk-footer {
    text-align: center;
    margin-bottom: 3em;
    @media @mobile {
        margin-bottom: 0;
    }
    min-height: 2.5em;
    .widget.content {
        margin: 0 0 2.5em;
        padding: 0.5em 3em 3em;
        @media @mobile {
            padding: 0.5em 1.5em 2em;
        }
    }
}

/* ===============================
   9. Print override
   =============================== */
.print-mixin {
    .headerrow,
    .bk-footer,
    .bk-header .widget.profile  {
        display:none;
    }
    .companyheader {
        padding:0px;
    }
    .menu-container {
        display:none;
    }
    .menu-info {
        margin:0px;
    }
    .widget.menu .main.wrapper {
        page-break-before:always;
    }
    .widget.menu .menu-item-image-wrap {
        height:150px;
    }
    .widget.menu .main .menu-items li.menu-item-promoted, .widget.menu .main .menu-subsection .menu-subsection-promoted {
        border:1px solid #000000!important;
        padding:20px;
        margin-right:1px;
    }
    .companyheader {
      margin-top:0;
    }
    .menu-header, .menu-section-header {
      padding-bottom:0;
      margin-bottom:0;
    }
    header.bk-header {
      margin-top: 0;
      padding: 2em 0em;
    }
    .widget.menu .menu-section-item-dietary-props .dietary-icon, .widget.menu .menu-info .dietary-icon {
      width: 70px;
      height: 28px;
      border: 1px solid #000000!important;
  }
  .widget.content .bk-content-text {
    margin: 0px auto;
    display: table;
  }
  .menu-subsection-header {
    text-align:center;
  }
  .menu-subsection-wrapper.menu-subsection-promoted {
    padding:10px;
  }
}


@media print {
    .print-mixin;
}

.bk-print {
    .print-mixin;
}